<div class="jumbotron">
    <div class="container">
        <div class="col-md-12">
            <h3> <%= data.summary %> </h3>
            <p><%=data.description%></p>
        </div>
        <div class="col-md-12">
            <% if(self == "noResponse"){%>
            <div class="btn-group pull-right">
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" data-url="/calendar/updAttendee" data-idevent="<%=bdEvnt.idevent%>" data-state="yes" class="btn btn-success" >Asistiré</a>
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" data-url="/calendar/updAttendee" data-idevent="<%=bdEvnt.idevent%>" data-state="maybe" class="btn btn-warning" >Quizás Asista</a>
            </div>
            <%} else {%>
            <div class="btn-group pull-right">
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" href="#" data-url="/calendar/updAttendee" data-idevent="<%=bdEvnt.idevent%>" data-state="yes" class="btn btn-success <%if(self == "yes"){%>active<%}%>">Asistiré</a>
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" href="#" data-url="/calendar/updAttendee" data-idevent="<%=bdEvnt.idevent%>" data-state="maybe" class="btn btn-warning <%if(self == "maybe"){%>active<%}%>">Quizás Asista</a>
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" href="#" data-url="/calendar/updAttendee" data-idevent="<%=bdEvnt.idevent%>" data-state="remove" class="btn btn-danger">No Asistiré</a>
            </div>
            <%}%>
        </div>
        <div class="col-md-12" id="attCollapse">
            <div class="well" style="height: 100px">
                <h4><%= %>Asistentes:</h4>
                <% if(attendees.si.length){
                attendees.si.map(function(att,i){%>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="media">
                        <div class="media-left">
                            <a href="/teacher/teacher_profile/<%= att.idteacher%>" >
                                <img src="<%= att.perfil_image%>" class="media-object" alt="<%= att.username%>" style="width:64px;height:64px" class="img-circle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><%=att.username%></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <%});
                } else {%>
                <div>No hay Confirmados</div>
                <%}%>
            </div>
            <div class="well">
                <h4>Quizás Asista:</h4>
                <% if(attendees.talvez.length){
                attendees.talvez.map(function(att,i){%>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="/teacher/teacher_profile/<%= att.idteacher%>">
                                <img src="<%= att.perfil_image%>" class="media-object" alt="<%= att.username%>">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><%=att.username%></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <%});
                } else {%>
                <div>No hay Confirmados</div>
                <%}%>
            </div>
        </div>
    </div>
</div>
