<div class="jumbotron">
    <div class="container">
        <div class="col-md-12">
            <h3> <%= data.title %> </h3>
            <p><%=data.description%></p>
        </div>
        <div class="col-md-12">
            <% if(new Date(data.start.dateTime).getTime() > new Date().getTime()){%>
                <% if(logged && !owner){%>
                    <% if(self == "noResponse"){%>
            <div class="btn-group pull-right">
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" data-url="/calendar/updAttendee" data-idevent="<%= data.extendedProperties.private.idevent%>" data-state="yes" class="btn btn-success" >Asistiré</a>
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" data-url="/calendar/updAttendee" data-idevent="<%= data.extendedProperties.private.idevent%>" data-state="maybe" class="btn btn-warning" >Quizás Asista</a>
            </div>
                    <%} else {%>
            <div class="btn-group pull-right">
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" href="#" data-url="/calendar/updAttendee" data-idevent="<%= data.extendedProperties.private.idevent%>" data-state="yes" class="btn btn-success <%if(self == "yes"){%>active<%}%>">Asistiré</a>
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" href="#" data-url="/calendar/updAttendee" data-idevent="<%= data.extendedProperties.private.idevent%>" data-state="maybe" class="btn btn-warning <%if(self == "maybe"){%>active<%}%>">Quizás Asista</a>
                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){getModalEvnt('<%= data.id %>')})" href="#" data-url="/calendar/updAttendee" data-idevent="<%= data.extendedProperties.private.idevent%>" data-state="remove" class="btn btn-danger">No Asistiré</a>
            </div>
                    <%}%>
                <%} else if(owner){%>
            <div class="btn-group pull-right">
                <a onclick="ajax_send(this,'#evntModalBody','insert',{})" data-url="/calendar/updEvntModal" data-idgoogle="<%= data.id%>" class="btn btn-primary" >Modificar</a>
            </div>
                <%} else {%>
            <div class="btn-group pull-right">
                <a class="btn btn-success" disabled>Asistiré</a>
                <a class="btn btn-warning" disabled>Quizás Asista</a>
            </div>
                <%}%>
            <%}%>
        </div>
        <div class="col-md-12" id="attCollapse">
            <div class="well" style="height: 100px">
                <h4><%= data.attendees.confirmed.length%> Asistentes:</h4>
                <% if(data.attendees.confirmed.length){
                data.attendees.confirmed.map(function(att,i){%>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="media">
                        <div class="media-left">
                            <a href="/teacher/teacher_profile/<%= att.idteacher%>" >
                                <img src="<%= att.perfil_image%>" class="media-object" alt="<%= att.username%>" style="width:64px;height:64px" class="img-circle">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><%=att.username%></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <%});
                } else {%>
                <div>No hay Confirmados</div>
                <%}%>
            </div>
            <div class="well">
                <h4><%= data.attendees.maybe.length%> Quizás Asista:</h4>
                <% if(data.attendees.maybe.length){
                data.attendees.maybe.map(function(att,i){%>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="/teacher/teacher_profile/<%= att.idteacher%>">
                                <img src="<%= att.perfil_image%>" class="media-object" alt="<%= att.username%>">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><%=att.username%></h4>
                            </div>
                        </div>
                    </div>
                </div>

                <%});
                } else {%>
                <div>No hay Confirmados</div>
                <%}%>
            </div>
        </div>
    </div>
</div>
