<%- include ../layouts/header.ejs %>

<div class="container blog-content">
    <div class="row">
        <form id="form_update_teacher">
        <div id="leftframe" class="col-md-6 blog-sidebar">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 style="margin-top: 0; padding-bottom: 5px; margin-bottom: 3px; border-bottom: solid #00897B;">Información de Usuario</h2>
                        <br>

                        <div class="form-group">
                            <h3 style="margin:0">Nombre y Apellidos</h3>
                            <input class="form-control" name="name" id="name" type="text" value="<%= data.name%>" required>
                        </div>
                        <div class="form-group">
                            <h3 style="margin:0">Nombre de Usuario</h3>
                            <input class="form-control" name="username" id="username" type="text" value="<%= data.username%>" required>
                        </div>
                        <div class="form-group">
                            <h3 style="margin:0">Rut</h3>
                            <input class="form-control" name="rut" id="rut" type="text" value="<%= data.rut%>">
                        </div>
                        <div class="form-group">
                            <h3 style="margin:0">Contraseña</h3>
                            <input class="form-control" name="password" id="password" type="password" value="<%= data.password%>" required>
                        </div>
                        <div class="form-group">
                            <h3 style="margin:0">Repita su Contraseña</h3>
                            <input class="form-control" name="" id="password2" type="password" value="<%= data.password%>" required>
                        </div>
                        <div class="form-group">
                            <h3 style="margin:0">Dirección</h3>
                            <input class="form-control" name="address" id="address" type="text" value="<%= data.address%>">
                        </div>
                        <div class="form-group">
                            <h3 style="margin:0">Fecha de Nacimiento</h3>
                            <input class="form-control" name="b_date" id="b_date" type="date" value="<%=data.birth_date%>">
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn_obs">Actualizar Información</button>
                <img src="/icons/actualizar_perfil.png" class="img-rounded" style="width: 40px; height: 40px; display: inline-block;">
            </div>
        </div>
        <div id="leftframe" class="col-md-6 blog-sidebar">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #00897B">
                        <h3 style="color: white">Foto de Perfil</h3>
                    </div>
                    <div class="panel-body">

                        <img src="<%=data.perfil_image%>" class="img-circle" style="width: 90px; height: 90px; display: inline-block;">
                        <input style="display: inline-block; margin-left: 10px" name="perfil_image" type="file" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #00897B">
                        <h3 style="color: white">Institución</h3>
                    </div>
                    <div class="panel-body">

                        <h4 style="margin-bottom: 5px">Institución Correspondiente</h4>
                        <h5 style="margin:0; color: #878787">Estas asociado/a a esta institución, para modificarla haz click en solicitar modificacion</h5>
                        <div class="pull-right">
                            <a class="btn_obs" style="padding: 5px; background-color: #00897B; color: white; margin: 5px">Solicitar modificación</a>
                            <img src="/icons/RRCC web_solicitud cambio institucion.png" class="img-circle" style="width: 50px; height: 50px; display: inline-block;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #00897B">
                        <h3 style="color: white">Privacidad</h3>
                    </div>
                    <div class="panel-body">

                        <h5 style="color: #878787">Selecciona la información de tu perfil que desees que se encuentre pública para que otros usuarios puedan ver</h5>
                        <table class="table table-hover" style="margin: 0;">
                        <thead>
                          <tr style="border: hidden;">
                            <th>Información</th>
                            <th style="text-align: center;">Si</th>
                            <th style="text-align: center;">No</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr style="border: hidden;">
                            <td style="padding: 3px;">Nombre</td>
                            <td style="padding: 3px;"><input class="form-control" id="name1" value="1" name="name_r" type="radio"></td>
                            <td style="padding: 3px;"><input class="form-control" id="name0" value="0" name="name_r" type="radio"></td>
                        </tr>
                        <tr style="border: hidden;">
                            <td style="padding: 3px;">Mail</td>
                            <td style="padding: 3px;"><input class="form-control" id="mail1" value="1" name="mail_r" type="radio"></td>
                            <td style="padding: 3px;"><input class="form-control" id="mail0" value="0" name="mail_r" type="radio"></td>
                        </tr>
                        <tr style="border: hidden;">
                            <td style="padding: 3px;">Rut</td>
                            <td style="padding: 3px;"><input class="form-control" id="rut1" value="1" name="rut_r" type="radio"></td>
                            <td style="padding: 3px;"><input class="form-control" id="rut0" value="0" name="rut_r" type="radio"></td>
                        </tr>
                        <tr style="border: hidden;">
                            <td style="padding: 3px;">Dirección</td>
                            <td style="padding: 3px;"><input class="form-control" id="address1" value="1" name="address_r" type="radio"></td>
                            <td style="padding: 3px;"><input class="form-control" id="address0" value="0" name="address_r" type="radio"></td>
                        </tr>
                        <tr style="border: hidden;">
                            <td style="padding: 3px;">Fecha Nacimiento</td>
                            <td style="padding: 3px;"><input class="form-control" id="b_date1" value="1" name="b_date_r" type="radio"></td>
                            <td style="padding: 3px;"><input class="form-control" id="b_date0" value="0" name="b_date_r" type="radio"></td>
                        </tr>
                        </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div><!-- /.container -->

<style type="text/css">
    h3{
        margin: 0;
    }
    h4{
        margin: 0;
    }
    .form-control{
        padding: 0;
        margin-bottom: 0;
    }

    .form-group{
        padding: 0;
    }

    .panel-body{
        padding: 10px;
    }

    .panel-heading{
        padding: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    input[type="radio"]{
        width: 15px;
        height: 15px;
        margin-right: 0px;
        margin-left: 40%;
    }
</style>

<script type="text/javascript">
    // public almacena 1 si se muestra y 0 si no, en el orden del sig arreglo
    var type = ["name", "mail", "rut", "address", "b_date"];
    $(document).ready(function(){
        var public = "<%=data.public%>".split(",");
        for(var i=0; i<type.length; i++){
            if(public[i] == "1"){
                $("#" + type[i] + "1").attr('checked', 'checked');
            } else {
                $("#" + type[i] + "0").attr('checked', 'checked');
            }
        }
        $.ajax({
            type: 'POST',
            url: '/teacher/is_login',
            success: function(data){
                $("#is_login").html(data);
            }
        });
    });

    $("#form_update_teacher").submit(function(e) {
        if($("#password").val() != $("#password2").val()){
            alert("Las contraseñas no coinciden, intente nuevamente.");
            return;
        } else {
            e.preventDefault();
            $(this).ajaxSubmit({
                type: 'POST',
                url: '/teacher/update_teacher',
                success: function (data) {
                    console.log(data);
                    if(data == "ok"){
                        e.preventDefault(); 
                        alert("Se han actualizado los datos correctamente.");
                        window.location.href = "/teacher/info_teacher";
                    } else{
                        alert("Datos de usuario incorrectos, intente nuevamente.");
                    }
                }
            });
        }
    });
</script>

<%- include ../layouts/user_footer.ejs %>