<%- include ../layouts/header.ejs %>

<div class="container blog-content">
    <div class="row">
        <form id="form_update_teacher">
        <div id="leftframe" class="col-md-5 col-md-offset-1 blog-sidebar">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Información de Usuario</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <img src="<%=data.perfil_image%>" class="img-circle" style="width: 50px; height: 50px">
                            <label>Editar imagen</label>
                            <input name="perfil_image" type="file" accept="image/*">
                        </div>
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" name="name" id="name" type="text" value="<%= data.name%>" required>
                        </div>
                        <div class="form-group">
                            <label>Nombre de Usuario</label>
                            <input class="form-control" name="username" id="username" type="text" value="<%= data.username%>" required>
                        </div>
                        <div class="form-group">
                            <label>Rut</label>
                            <input class="form-control" name="rut" id="rut" type="text" value="<%= data.rut%>">
                        </div>
                        <div class="form-group">
                            <label>Mail</label>
                            <input class="form-control" name="mail" id="mail" type="text" value="<%= data.mail%>" required>
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input class="form-control" name="password" id="password" type="password" value="<%= data.password%>" required>
                        </div>
                        <div class="form-group">
                            <label>Repita su Contraseña</label>
                            <input class="form-control" name="" id="password2" type="password" value="<%= data.password%>" required>
                        </div>
                        <div class="form-group">
                            <label>Dirección</label>
                            <input class="form-control" name="addess" id="address" type="text" value="<%= data.address%>">
                        </div>
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <input class="form-control" name="b_date" id="b_date" type="date" value="<%=data.birth_date%>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="leftframe" class="col-md-5 blog-sidebar">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Privacidad</h3>
                    </div>
                    <div class="panel-body">
                        <h4>Selecciona tu información de usuario que estará pública ante otros usuarios:</h4>
                        <table class="table table-bordered table-hover table-striped" >
                        <thead>
                          <tr>
                            <th>Información</th>
                            <th style="text-align: center;">Si</th>
                            <th style="text-align: center;">No</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td><input class="form-control" id="name1" value="1" name="name_r" type="radio"></td>
                            <td><input class="form-control" id="name0" value="0" name="name_r" type="radio"></td>
                        </tr>
                        <tr>
                            <td>Mail</td>
                            <td><input class="form-control" id="mail1" value="1" name="mail_r" type="radio"></td>
                            <td><input class="form-control" id="mail0" value="0" name="mail_r" type="radio"></td>
                        </tr>
                        <tr>
                            <td>Rut</td>
                            <td><input class="form-control" id="rut1" value="1" name="rut_r" type="radio"></td>
                            <td><input class="form-control" id="rut0" value="0" name="rut_r" type="radio"></td>
                        </tr>
                        <tr>
                            <td>Dirección</td>
                            <td><input class="form-control" id="address1" value="1" name="address_r" type="radio"></td>
                            <td><input class="form-control" id="address0" value="0" name="address_r" type="radio"></td>
                        </tr>
                        <tr>
                            <td>Fecha Nacimiento</td>
                            <td><input class="form-control" id="b_date1" value="1" name="b_date_r" type="radio"></td>
                            <td><input class="form-control" id="b_date0" value="0" name="b_date_r" type="radio"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                        </table>

                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block">Actualizar información <i class="glyphicon glyphicon-pencil"></i></button>
        </div>
        </form>
    </div>
</div><!-- /.container -->

<style type="text/css">
    input[type="radio"]{
        width: 20px;
        height: 20px;
        margin-right: 0px;
        margin-left: 28px;
    }
</style>

<script type="text/javascript">
    // public almacena 1 si se muestra y 0 si no, en el orden del sig arreglo
    var type = ["name", "mail", "rut", "address", "b_date"];
    $(document).ready(function(){
        var public = "<%=data.public%>".split(",");
        for(var i=0; i<type.length; i++){
            if(public[i] == "1"){
                $("#" + type[i] + "1").attr('checked', 'checked');
            } else {
                $("#" + type[i] + "0").attr('checked', 'checked');
            }
        }
        $.ajax({
            type: 'POST',
            url: '/teacher/is_login',
            success: function(data){
                $("#is_login").html(data);
            }
        });
    });

    $("#form_update_teacher").submit(function(e) {
        if($("#password").val() != $("#password2").val()){
            alert("Las contraseñas no coinciden, intente nuevamente.");
            return;
        } else {
            e.preventDefault();
            $(this).ajaxSubmit({
                type: 'POST',
                url: '/teacher/update_teacher',
                success: function (data) {
                    console.log(data);
                    if(data == "ok"){
                        e.preventDefault(); 
                        alert("Se han actualizado los datos correctamente.");
                        window.location.href = "/teacher/info_teacher";
                    } else{
                        alert("Datos de usuario incorrectos, intente nuevamente.");
                    }
                }
            });
        }
    });
</script>

</body>
</html>