<%- include ../layouts/header.ejs %>

<!-- Esta es la vista principal donde se renderiza, contiene las 2 columnas laterales
y la columna central mainframe -->

<div class="container blog-content" style="width: 90%">
<!-- class="visible-xs-block" para el responsive, permite hacer que una clase no se vea en cierto tamaño de display.  -->
    <div class="row">
        <!-- Columna de la izquierda -->
        <div id="leftframe" class="col-sm-3 blog-sidebar">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 style="color: #FFCC00; font-weight: 400; margin-top: 0"> ¡Bienvenido/a!</h3>
                        <div class="row">
                            <div class="col-md-4" style="padding: 5px; margin-left: 5%">
                                <a>
                                    <img src="<%=data.perfil_image%>" onerror="this.src='/icons/avatar.png'" class="img-circle" style="width: 80px; height: 80px">
                                </a>
                            </div>
                            <div class="col-md-7" style="padding: 0">
                                <h5 style="margin-bottom: 10px; margin-top: 20px; font-size: 20px;margin-left: 5%"><%=data.name%></h5>
                                <!-- <h5>Institucion AIEP</h5> -->
                            </div>
                        </div>
                        <div class="btn-group-vertical" role="group" style="width: 100%">
                            <div class="row" style="margin-left: 4%">
                                <a class="btn btn-default" onclick="resources_by_teacher()" style="width: 220px">
                                    <div class="col-sm-3" style="padding-left: 5%">
                                        <img src="/icons/RRCC web-16.png" class="img-rounded" style="width: 60px">
                                    </div>
                                    <div class="col-sm-7" style="margin-top: 10%;">
                                        <p>Mis recursos</p>
                                    </div>
                                </a>
                                <a class="btn btn-default" onclick="resources_by_comment_teacher()" style="width: 220px">
                                    <div class="col-sm-3">
                                        <img src="/icons/RRCC web-17.png" class="img-rounded" style="width: 50px">
                                    </div>
                                    <div class="col-sm-7" style="margin-top: 7%;">
                                        <p>Mis comentarios</p>
                                    </div>
                                </a>
                                <a class="btn btn-default" onclick="resources_by_review()" style="width: 220px">
                                    <div class="col-sm-3">
                                        <img src="/icons/RRCC web-18.png" class="img-rounded" style="width: 50px">
                                    </div>
                                    <div class="col-sm-7" style="margin-top: 7%;">
                                        <p>Mis revisiones</p>
                                    </div>
                                </a>
                                <a class="btn btn-default" href="#" data-url="/evento/getMine" onclick="ajax_send(this,'#central_col','insert',{my:'evnt'})" id="myEvnts" style="width: 220px">
                                    <div class="col-sm-3">
                                        <img src="/icons/RRCC web-19.png" class="img-rounded" style="width: 50px">
                                    </div>
                                    <div class="col-sm-7" style="margin-top: 7%;">
                                        <p>Mis eventos</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5 style="text-align: center"><img src="/icons/RRCC web-20.png" class="img-circle img_40">Crea y comparte</h5>
                        <!-- Barra -->
                        <div class="progress" style="height: 3px">
                            <div class="progress-bar" role="progressbar" style="width:100%">
                            </div>
                        </div>
                        <div class="row" style="margin-left: 4%">
                            <a class="btn btn-default" onclick="new_resource()" style="width: 220px">
                                <div class="col-sm-3" style="padding-left: 5%">
                                    <img src="/icons/RRCC web-15.png" class="img-rounded" style="width: 60px">
                                </div>
                                <div class="col-sm-7" style="margin-top: 10%;">
                                    <p>Crear recurso</p>
                                </div>
                            </a>
                            <a href="#modalProposeEvnt" data-toggle="modal" class="btn btn-default" style="width: 220px">
                                <div class="col-sm-3" style="padding-left: 5%">
                                    <img src="/icons/RRCC web-14.png" class="img-rounded" style="width: 60px">
                                </div>
                                <div class="col-sm-7" style="margin-top: 10%;">
                                    <p>Crear evento</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Columna del medio -->
        <div class="col-sm-6" id="central_col">
            <div class="blog-main">
                <!-- Filtro -->
                <div class="row" id="full_filter">
                    <div class="col-sm-11" style="padding-right: 0">
                        <input type="text" id="filter" class="form-control" placeholder="Buscador de recursos" style="margin: 0; padding-bottom: 0">
                    </div>
                    <div class="col-sm-1" style="padding-left: 0">
                        <div class="input-group-btn">
                            <a href="#" class="btn btn-default btn-lg" onclick="filter()" style="padding: 0; margin: 0">
                                <i class="glyphicon glyphicon-search" style="font-size:30px; color: gray"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="sidebar-module">
                            <div class="panel panel-default" id="show_image" style="opacity: 0.8">
                                <div class="dropdown">
                                    <button class="dropbtn btn" onclick="show_image()" style="width: 101%; padding: 0">
                                        <h5 class="filter_text" id="msj_show_image" data-toggle="tooltip" data-placement="bottom" style="left: -10px">
                                            <img src="/icons/RRCC web-05.png" class="img-rounded filter_img" style="display: inline-block;">
                                            <div id="state_img" style="display: inline-block;">
                                                Ver imagen
                                            </div>
                                        </h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7" style="padding-left: 0;">
                        <div class="sidebar-module">
                            <div class="panel panel-default">
                                <div class="row">
                                    <div class="col-sm-3" style="padding-right: 0;">
                                        <div class="dropdown">
                                            <button class="dropbtn btn" style="width: 110%">
                                                <h5 class="filter_text">
                                                    <img src="/icons/RRCC web-21.png" class="img-rounded filter_img">Tipo
                                                </h5>
                                            </button>
                                            <div class="dropdown-content type">
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Opinión">Columna de Opinión.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Libro/Texto">Libro/Texto.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Imagen">Imagen.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Guía/Prueba">Guía/Prueba.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Conceptual">Mapa Conceptual.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Video">Video.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Presentación">Presentación.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0;">
                                        <div class="dropdown">
                                            <button class="dropbtn btn" style="width: 120%">
                                                <h5 class="filter_text">
                                                    <img src="/icons/RRCC web-22.png" class="img-rounded filter_img">Área
                                                </h5>
                                            </button>
                                            <div class="dropdown-content area">
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Matemática">Matemática.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Lenguaje y Comuncación">Lenguaje y Comuncación.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Historia, Geografía y Ciencias Sociales">Historia, Geografía y Ciencias Sociales.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Física">Física.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Inglés">Inglés.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Biología">Biología.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Química">Química.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Educación Tecnológica">Educación Tecnológica.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Educación Física">Educación Física.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Filosofía y Psicología">Filosofía y Psicología.</a>
                                                <a onclick="select_data(this)" class="filter_tags" data-select="false" data-filter="Orientación y Consejo de Curso">Orientación y Consejo de Curso.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="padding: 0;">
                                        <div class="dropdown">
                                            <button class="dropbtn btn">
                                                <h5 class="filter_text">
                                                    <img src="/icons/RRCC web-23.png" class="img-rounded filter_img">Soporte
                                                </h5>
                                            </button>
                                            <div class="dropdown-content suport">
                                                <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="pdf">PDF.</a>
                                                <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="png gif jpeg jpg">PNG, GIF, JPEG/JPG.</a>
                                                <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="mp4 avi mpg mkv flv mov wmc">MP4, AVI, MPG, MKV, FLV, MOV, WMV.</a>
                                                <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="doc docx">DOCX.</a>
                                                <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="ppt pptx ppsx">PPT/PPTX/PPSX.</a>
                                                <a onclick="select_data(this)" class="filter_suport" data-select="false" data-filter="xlsx xltx">Excel/XLSX/XLTX.</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="padding: 0;">
                                        <div class="dropdown">
                                            <button class="dropbtn btn" style="width: 112%">
                                                <h5 class="filter_text">
                                                    <img src="/icons/RRCC web-26.png" class="img-rounded filter_img">Año
                                                </h5>
                                            </button>
                                            <div class="dropdown-content year">
                                                <!-- <a>2019.</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="padding: 0; width: 14%">
                        <div class="sidebar-module">
                            <div class="panel panel-default">
                                <div class="dropdown">
                                    <button class="dropbtn btn" onclick="filter()" style="width: 102 %">
                                        <h5 class="filter_text">
                                            <img src="/icons/RRCC web-06.png" class="img-rounded filter_img">Filtrar
                                        </h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Insertamos aca todos los recursos, recordar id mainframe -->
            <div class="blog-main" id="mainframe">

            </div>
            <div class="loader" style="display: none; margin-left: 42%"></div>
        </div>

        <!-- Columna derecha -->
        <div class="col-sm-3 blog-sidebar" id="right_col">
            <!-- Calendario -->
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-group" style="width: 100%">
                                    <a style="width: 25%" onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="month">Mes</a>
                                    <a style="width: 25%" onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="year">Año</a>
                                    <a style="width: 25%" onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="week">Semana</a>
                                    <a style="width: 25%" onclick="vista(this)" class="btn btn-default text-white" data-calendar-view="day">Día</a>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <a onclick="navegar(this)" class="btn btn-default text-white" data-calendar-nav="prev"><i class="glyphicon glyphicon-triangle-left"></i></a>
                            </div>
                            <div class="col-md-9">
                                <h5 id="calendarTitle" class="text-center text-white "></h5>
                            </div>
                            <div class="col-md-1">
                                <a onclick="navegar(this)" class="btn btn-default float-right text-white" data-calendar-nav="next"><i class="glyphicon glyphicon-triangle-right"></i></a>
                            </div>
                            <div class="col-md-12">
                                <div id="calendar"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <h5><img src="/icons/RRCC web-16.png" class="img-circle" style="width: 60px; height: 60px">Recursos de la plataforma</h5>
                    <div class="panel-body" style="padding-top: 0">
                        <!-- Barra -->
                        <div class="progress" style="height: 3px">
                            <div class="progress-bar" role="progressbar" style="width:100%">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5%">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-07.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-9 col_rc_0">
                                        <div class="progress" style="width: 60%;">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">50%</div>
                                        </div>
                                        Columna de opinión/libros /textos
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-12.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-9 col_rc_0">
                                        <div class="progress" style="width: 20%">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">10%</div>
                                        </div>
                                        Mapas conceptuales
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-right: 1%">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-08.png" class="img-rounded img_40 img_40">
                                    </div>
                                    <div class="col-sm-7 col_rc_0">
                                        <div class="progress" style="width: 40%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">20%</div>
                                        </div>
                                        Imagen
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-left: -1%">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-11.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-7 col_rc_0">
                                        <div class="progress" style="width: 40%">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">20%</div>
                                        </div>
                                        Video
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-10.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-7 col_rc_0">
                                        <div class="progress" style="width: 23%">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">3%</div>
                                        </div>
                                        Guías/pruebas
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3 col_rc_1">
                                        <img src="/icons/RRCC web-13.png" class="img-rounded img_40">
                                    </div>
                                    <div class="col-sm-7 col_rc_0">
                                        <div class="progress" style="width: 30%">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">10%</div>
                                        </div>
                                        Presentación
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.blog-sidebar -->
        </div><!-- /.columna derecha -->
    </div><!-- /.row -->

</div><!-- /.container -->

<style>

    /* Filtro */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropbtn{
        padding: 0;
        margin: 0;
        padding-right: 10px;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      left: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px black;
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {
        background-color: #ccc;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropbtn {
        background-color: #f1f1f1;
    }
    .filter_text{        
        text-transform: capitalize;
    }
    .filter_img{
        width: 30px;
    }

    /* Loader */
    .loader {
        border: 12px solid #D3D3D3;
        border-radius: 50%;
        border-top: 12px solid #3498db;
        width: 90px;
        height: 90px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    /* Estilo de calendario */
    .cal-month-day{
        height: 58px;
        max-height: 58px;
        min-height: 58px;
    }
    .cal-day-inmonth{
        height: 58px;
        max-height: 58px;
        min-height: 58px;
    }
    .cal-month-box .cal-cell{
        height: 58px;
        max-height: 58px;
        min-height: 58px;
    }

    .cal-row-fluid{
        height: 58px;
        max-height: 58px;
        min-height: 58px;
    }
    .cal-cell span{
        margin-top: 0;
    }
    .cal-day-today{
        font-size: 11px;
    }
    .cal-day-today span{
        margin: 5px;
        margin-bottom: 0px;
    }
</style>

<script type="text/javascript">
    // Funciones filtro
    // Obtiene el año actual para agregar los años a filtro AÑO (desde 2019 hasta este año)
    var year = new Date();
    var year = year.getFullYear();
    for(var i=2019; i < year + 1; i++){
        $(".year").append('<a onclick="select_data(this)" class="filter_date" data-select="false" data-filter="' + i + '">' + i + '.</a>');
    }
    // Verifica si desea mostrar imagenes al cargar la vista
    if(<%=show_image%>) {
        // Ver imagenes activado
        $("#show_image").css("background-color","");
        $("#msj_show_image").prop("title","¡Visualizar imagenes activado!");
    } else {
        $("#show_image").css("background-color","#f44336");
        $("#msj_show_image").prop("title","¡Visualizar imagenes desactivado!");
    }

    // Funcion que activa/desactiva imagenes
    function show_image() {
        $("#mainframe").empty();
        $(".loader").css("display","block");
        $.ajax({
            type: 'POST',
            url: "/resource/show_image",
            success: function (html) {
                $(".loader").css("display","none");
                $("#mainframe").append(html);
            }
        });
    }

    // Funcion que muestra y quita la seleccion de un filtro
    function select_data(ths){
        if($(ths).data("select") == false){
            $(ths).css("background-color", "#009688");
            $(ths).css("opacity", 0.8);
            $(ths).append('<i class="glyphicon glyphicon-ok"></i>');
            $(ths).data("select", true);
        } else {
            $(ths).css("background-color", "");
            $(ths).css("opacity", 1);
            $(ths).find("i").remove();
            $(ths).data("select", false);
        }
    }

    function filter(){
        $("#mainframe").empty();
        $(".loader").css("display","block");
        var tags = [];
        var suport = [];
        var date = [];
        $(".filter_tags").each(function(e){
            if($(this).data("select")){
                tags.push($(this).data("filter"));
            }
        });
        $(".filter_suport").each(function(e){
            if($(this).data("select")){
                suport.push($(this).data("filter"));
            }
        });
        $(".filter_date").each(function(e){
            if($(this).data("select")){
                date.push($(this).data("filter"));
            }
        });
        $.ajax({
            type: 'POST',
            data: {
                filter: $("#filter").val(),
                tags: JSON.stringify(tags), 
                suport: JSON.stringify(suport),
                date: JSON.stringify(date)
            },
            url: "/resource/filter",
            success: function (html) {
                $(".loader").css("display","none");
                $("#mainframe").append(html);
            }
        });
    }

    function restart_col(){
        $("#full_filter").css("display", "block");
        $("#right_col").css("display", "block");
        $("#central_col").removeClass();
        $("#central_col").addClass("col-sm-6");
    }

    // Funciones Panel Izquierdo
    // Buscar recursos del usuario
    function resources_by_teacher() {
        $("#mainframe").empty();
        $(".loader").css("display","block");
        $.ajax({
            type: 'POST',
            data: {session_teacher: true},
            url: "/resource/resources_by_teacher",
            success: function (html) {
                restart_col();
                $(".loader").css("display","none");
                $("#mainframe").append(html);
            }
        });
    }

    // Buscar recursos del usuario
    function resources_by_comment_teacher() {
        $("#mainframe").empty();
        $(".loader").css("display","block");
        $.ajax({
            type: 'POST',
            url: "/resource/resources_by_comment_teacher",
            success: function (html) {
                restart_col();
                $(".loader").css("display","none");
                $("#mainframe").append(html);
            }
        });
    }

    // Buscar recursos del usuario
    function resources_by_review() {
        $("#mainframe").empty();
        $(".loader").css("display","block");
        $.ajax({
            type: 'POST',
            url: "/resource/resources_by_review",
            success: function (html) {
                restart_col();
                $(".loader").css("display","none");
                $("#mainframe").append(html);
            }
        });
    }

</script>

<%- include ../layouts/user_footer.ejs %>
