<!-- Informacion necesaria para crear un recurso base. -->
<div id="modal_edit_<%=idresource%>" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" style="padding: 5px 5px">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-header ">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="modal-title">Editar recurso</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <form id='form_edit_<%=idresource%>' class="form-horizontal style-form">
                <div class="modal-body">
                    <div class="row">
                        <input name="idresource" type="hidden" value="<%=idresource%>">

                        <div class="col-sm-6" style="padding-right: 3px">
                            <div class="form-group">
                                <label for="title">Titulo</label>
                                <input name="title" type="text" class="form-control"
                                       placeholder="¿Cual es el titulo del recurso?"
                                       value="<%=title%>">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="description">Descripcion</label>
                            <textarea name="description" class="form-control" rows="3" maxlength="255"
                                      placeholder="Descripcion breve de tu Recurso. (Max. 255 caracteres)"><%=description%></textarea>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="tags">Tags</label>
                            <input name="tags" type="text" class="form-control"
                                   placeholder="¿De que habla tu material?"
                                   value="<%if (tags) {%><%=tags.toString()%><%}%>">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-raised">Continuar</button>
                    <button type="button" class="btn btn-secondary btn-raised" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#form_edit_<%=idresource%>').submit(function(e) {
        e.preventDefault();
        $(this).ajaxSubmit({
            url: '/resource/edit',
            type: 'POST',
            success: function (xhr) {
                $('#modal_edit_<%=idresource%>').modal('hide');
                console.log(xhr);
            }
        });
        return false;
    });

    $(function() {
        options = {
            url: '/resource/add',
            type: 'POST',
            beforeSend: function() {
                var percentVal = '0%';
                bar.width(percentVal);
            },
            uploadProgress: function(event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal);
            },
            complete: function(xhr) {
                console.log(xhr);
            }
        };
    });
</script>