<div class="row">
        <% if(evnts.length){
            var time,restante;
            var regex;
            var myMembToken;
            evnts.map(function(evnt){
                var time = parseInt(evnt.start) - new Date().getTime();
                if(time <= 0){
                    if(parseInt(evnt.end) - new Date().getTime() <  0){
                        restante = "Finalizado";
                    } else {
                        restante = "En Curso";
                    }
                } else {
                    time = (time - time%1000)/1000;
                    time = (time - time%60)/(60);
                    var mins = time%(60);
                    time = (time - time%60)/(60);
                    var hrs = time%(24);
                    time = (time - time%24)/(24);
                    if(time >= 1){
                        restante = "Faltan " + time + " Dia(s)";
                    } else if(hrs >=1){
                        restante = "Faltan " + hrs + " Hr(s)";
                    } else {
                        restante = "Faltan " + mins + " Min(s)";
                    }
                }
        %>
    <div class="col-md-12">
        <section class="blog-post">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="blog-post-meta">
                        <h2 class="blog-post-title"><%= evnt.title%> <small></small> <p class="blog-post-date pull-right"><%= restante%></p></h2>
                    </div>
                    <div class="blog-post-content">
                        <%= evnt.description%>
                        <div class="blog-post-share">
                            Organizado por <a href="/teacher/teacher_profile/<%= evnt.idteacher%>"><%= evnt.username%></a>
                        </div>
                        <div class="blog-post-share pull-right">
                            <% if(callerIdteacher == evnt.idteacher || parseInt(callerIdteacher) == 1){%>
                            <div class="btn-group">
                                <a class="btn btn-primary">Modificar</a>
                                <a class="btn btn-info" data-toggle="collapse" role="button" data-target="#att<%=evnt.idevent%>">Ver Asistentes <i class="badge badge-dark"><%= evnt.attendees.confirmed.length + evnt.attendees.maybe.length%></i></a>
                            </div>
                            <%} else {
                                regex = new RegExp("\\w+@@\\w+@@" + callerIdteacher + "@@\\w+",'i');
                                myMembToken = evnt.mtoken.match(regex);
                                %>
                            <div class="btn-group pull-right" id="attResponse<%=evnt.idevent%>">
                                <% if(myMembToken != null){ %>
                                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){updResponse(<%= evnt.idevent%>,'yes')})" data-url="/calendar/updAttendee" data-idevent="<%= evnt.idevent%>" data-state="yes" class="btn btn-success <%if(myMembToken[0].split('@@')[3] == "yes"){%>active<%}%>">Asistiré</a>
                                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){updResponse(<%= evnt.idevent%>,'maybe')})" data-url="/calendar/updAttendee" data-idevent="<%= evnt.idevent%>" data-state="maybe" class="btn btn-warning <%if(myMembToken[0].split('@@')[3] == "maybe"){%>active<%}%>">Quizás Asista</a>
                                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){updResponse(<%= evnt.idevent%>,'remove')})" data-url="/calendar/updAttendee" data-idevent="<%= evnt.idevent%>" data-state="remove" class="btn btn-danger" id="delResponse<%=evnt.idevent%>">No Asistiré</a>
                                <%  } else {%>
                                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){updResponse(<%= evnt.idevent%>,'yes')})" data-url="/calendar/updAttendee" data-idevent="<%= evnt.idevent%>" data-state="yes" class="btn btn-success" >Asistiré</a>
                                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){updResponse(<%= evnt.idevent%>,'maybe')})" data-url="/calendar/updAttendee" data-idevent="<%= evnt.idevent%>" data-state="maybe" class="btn btn-warning" >Quizás Asista</a>
                                <a onclick="ajax_send(this,'#evntModalBody','custom',{},function(data){updResponse(<%= evnt.idevent%>,'remove')})" data-url="/calendar/updAttendee" data-idevent="<%= evnt.idevent%>" data-state="remove" class="btn btn-danger hidden" id="delResponse<%=evnt.idevent%>">No Asistiré</a>
                                <%}%>
                                <a  class="btn btn-info" data-toggle="collapse" data-target="#att<%=evnt.idevent%>" role="button">Ver Asistentes <i class="badge badge-dark" id="attCount<%=evnt.idevent%>"><%= evnt.attendees.confirmed.length + evnt.attendees.maybe.length%></i></a>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="panel-footer blog-comments" id="pFoot<%= evnt.idevent%>">
                    <div class="collapse" id="att<%= evnt.idevent%>" style="background-color: inherit">

                        <h4 class="blog-comments-title"><%= evnt.attendees.confirmed.length%> Asistentes Confirmados:</h4>
                        <% if(evnt.attendees.confirmed.length){
                        evnt.attendees.confirmed.map(function(att,i){%>
                        <div class="well">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="/teacher/teacher_profile/<%= att.idteacher%>" >
                                        <img src="<%= att.perfil_image%>" class="media-object" alt="<%= att.username%>" style="width:64px;height:64px" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><%=att.username%></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%});
                        } else {%>
                        <div class="col-md-12 well">No hay Confirmados</div>
                        <%}%>
                        <div class="col-md-12">
                            <h4 class="blog-comments-title"><%= evnt.attendees.maybe.length%> Quizás Asista:</h4>
                        </div>
                        <% if(evnt.attendees.maybe.length){
                        evnt.attendees.maybe.map(function(att,i){%>
                        <div class="col-md-4 col-sm-6 col-xs-12 well">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="/teacher/teacher_profile/<%= att.idteacher%>">
                                        <img src="<%= att.perfil_image%>" class="media-object" style="width:64px;height:64px" alt="<%= att.username%>">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><%=att.username%></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%});
                        } else {%>
                        <div class="col-md-12 well">No hay Confirmados</div>
                        <%}%>
                    </div>
                </div>
            </div>
        </section>
    </div>

        <%});%>
        <%} else {%>
        <section class="blog-post">
            <div class="panel panel-default">
                <br>
                <h3 style="text-align: center;">No se encontraron eventos.</h3>
                <br>
            </div>
        </section>
        <%}%>
</div>
