<!-- Esta vista requiere results: results, tags: tags, idteacher: validate(req), show_hidden: false
results: lista de objetos resource
tags es una lista de objetos tags formato [{idresource:tags},...]
idteacher id profesor logeado, o false.
show_hidden: permite mostrar recursos bloqueados.

-->

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <section>
            <div class="row">
                <div style="margin: 1.6%">
                    <div class="col-sm-12" style="border-bottom: 2px gray solid; padding: 0; padding-bottom: 3px; margin-bottom: 5px">
                        <h4 style="display: inline-block; margin: 0">Estas en el recurso/<%=title%></h4>
                        <div class="pull-right" style="display: inline-block;">
                            <a class="btn btn_obs" href="/teacher" style="">Volver a Inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br><br>
        <!-- Corresponde a un recurso -->
        <section class="blog-post">
            <div class="panel panel-default" style="padding: 10px">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="/icons/RRCC web-07.png" class="img-rounded" style="width: 60px">
                    </div>
                    <div class="col-sm-10" style="margin-left: 10px">
                        <h2 class="blog-post-title" style="font-weight: 500; margin-top: 10px">
                            <%=title%>
                            <p class="bs-component btn-group-sm pull-right">
                                <%if(idteacher == logged){%>
                                    <a onclick="new_review(<%=idresource%>)" class="btn btn-success btn-fab-"><i class="material-icons">assignment</i></a>
                                    <a onclick="edit_modal(<%=idresource%>)" class="btn btn-warning btn-fab"><i class="material-icons">edit</i></a>
                                    <%if(state != 'Activo'){%>
                                        <a onclick="activate(<%=idresource%>)" class="btn btn-success btn-fab"><i class="material-icons">lock_open</i></a>
                                    <%} else {%>
                                        <a onclick="deactivate(<%=idresource%>)" class="btn btn-danger btn-fab"><i class="material-icons">lock</i></a>
                                    <%}
                                } %>
                            </p>
                        </h2>
                        <div class="blog-post-meta" style="padding: 0;">
                            <h4>por <%=name%> - <%=date.slice(0, date.indexOf('T'))%></h4>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <!-- DESCRIPCION -->
                                <p><%=description%></p>
                            </div>
                            <div class="col-sm-6">
                                <!-- IMAGEN -->
                                <div style="padding: 2%">
                                    <%if(frontimage){%>
                                        <img src="/uploaded-files/<%=idteacher%>/<%=idresource%>/<%=frontimage%>" class="img-responsive" style="border: 2px solid black; width: 100%">
                                    <%}%>
                                </div>
                            </div>
                        </div>
                        <p><%=text%></p>

                        <!-- Aca comienza contenido descargas -->
                        <div class="row" style="border-bottom: 2px orange solid; padding-bottom: 3px; margin-bottom: 5px">
                            <img src="/icons/RRCC web-23.png" style="width: 50px; margin: 0px; float: left">
                            <h3 style="margin: 0px">Archivos Adjuntos</h3>
                            Aca estan los archivos que se asocian a este recurso.
                        </div>
                        <div class="row resource-row" >
                            <%
                            if(files.length > 0){
                                    for(file in files){%>
                            <div class="col-xs-4 col sm-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading resource-head">
                                        <h5><%=files[file].filename%></h5>
                                    </div>
                                    <div class="panel-body">
                                        <a class="btn btn-primary" href="resource/download/<%=idteacher%>/<%=idresource%>/<%=files[file].filename%>" style="float: left">Descargar</a>
                                    </div>
                                </div>
                            </div>
                            <%}
                            } else {%>
                                <br>
                                <h3 style="text-align: center;">Este recurso no tiene archivos.</h3>
                                <br>
                            <%}%>
                        </div>

                        <!-- Aca comienza contenido revisiones -->

                    </div>

                    <div class="col-sm-3" style="padding-right: 0; padding-left: 3px">
                        <img src="/icons/RRCC web-24.png" class="img-rounded" style="width: 20px; display: inline;">
                        <img src="/icons/RRCC web-24.png" class="img-rounded" style="width: 20px; display: inline;">
                        <img src="/icons/RRCC web-25.png" class="img-rounded" style="width: 20px; display: inline;">
                        <img src="/icons/RRCC web-25.png" class="img-rounded" style="width: 20px; display: inline;">
                        <img src="/icons/RRCC web-25.png" class="img-rounded" style="width: 20px; display: inline;">
                    </div>
                </div>

                <!-- Aca van las descargas-->
            </div>
            <%if (idteacher == logged) {
                var modal_data = {
                    idresource: idresource,
                    idteacher: idteacher,
                    title: title,
                    description: description,
                    tags: tags[idresource]
                };
            %>
            <%- include('./modal/edit_resource.ejs', modal_data); %>
            <%}%>
        </section>
        <div id="view_comment">
            <!-- Aca va insertar comentario y los comentarios existentes del recurso. -->
        </div>
    </div>
</div>

<%- include modal/edit_resource.ejs %>

<style type="text/css">
    .btn_obs{

    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            type: 'GET',
            url: '/comment/view_comment/'+<%=idresource%>,
            success: function (html) {
                $('#view_comment').append(html);
            }
        });
    });

    function edit_modal(idresource) {
        $('#modal_edit_resource').modal('toggle');
    }

    function new_review(idresource) {
        $('#modal_new_resource').modal('toggle');
        $('#idresourcedad').attr('value', idresource);
    }
</script>