<!--
    Esta vista sólo recibe una lista de objetos.
    Cada objeto correspondería a una contribución o recurso (link/imagen/video/archivo).

    Esta vista debería ser reutilizable para todas las rutas que busquen varias contribuciones.
 -->
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <!-- Corresponde a una contribución -->
        <%if(results.length > 0){
            results.forEach(function (resource) { 
            if (resource.state == 'Activo'){ %>
                <section id="<%=resource.idresource%>" class="blog-post">
                    <div class="panel panel-default">
                        <!-- Imagen -->
                        <div style="padding: 2%">
                            <img src="img/music/unsplash-2.jpg" class="img-responsive" style="border: 2px solid black">
                            <!-- Titulo -->
                            <div class="row">
                                <div class="col-sm-1">
                                    <img src="/icons/RRCC web-07.png" class="img-rounded" style="width: 60px">
                                </div>
                                <div class="col-sm-10" style="margin-left: 10px">
                                    <h2 class="blog-post-title" style="font-weight: 500; margin-top: 10px">
                                        <%=resource.title%>
                                        <p class="bs-component btn-group-sm pull-right">
                                            <%if(idteacher == resource.idteacher){%>
                                                <a onclick="deactivate(<%=resource.idresource%>)" class="btn btn-danger btn-fab"><i class="material-icons">block</i></a>
                                            <%}%>
                                        </p>
                                    </h2>
                                    <div class="blog-post-meta" style="padding: 0;">
                                        <h4>por Oscar Guerra Gonzalez - 15/02/2019</h4>
                                    </div>
                                    <!-- Barra -->
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width:100%"></div>
                                    </div>
                                    <!-- Acá va el contenido de la contribución (sólo vista previa) -->
                                    <p><%=resource.description%></p>
                                </div>
                                <div class="col-sm-3 col-sm-offset-6" style="padding: 0">
                                    <!-- El param del onclick debe ser el iddelmat -->
                                    <a class="btn btn-success" onclick="show_a_resource(<%=resource.idresource%>)" style="padding: 5px">
                                         <span class="glyphicon glyphicon-search"></span>Revisar Recurso
                                    </a>
                                </div>
                                <div class="col-sm-3" style="padding-right: 0; padding-left: 3px">
                                    <img src="/icons/RRCC web-24.png" class="img-rounded img_est">
                                    <img src="/icons/RRCC web-24.png" class="img-rounded img_est">
                                    <img src="/icons/RRCC web-25.png" class="img-rounded img_est">
                                    <img src="/icons/RRCC web-25.png" class="img-rounded img_est">
                                    <img src="/icons/RRCC web-25.png" class="img-rounded img_est">
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </section>
            <%}
            });
        } else { %>
            <section class="blog-post">
                <div class="panel panel-default">
                    <br>
                    <h3 style="text-align: center;">No existen recursos solicitados.</h3>
                    <br>
                </div>
            </section>
        <%}%>
    </div>
</div>

<style type="text/css">
    .img_est{
        width: 20px; 
        display: inline;
    }
</style>

<script>
    function deactivate(idresource) {
        $.ajax({
            type: 'GET',
            url: '/resource/deactivate',
            data: {idresource: idresource},
            success: function () {
                $('#'+idresource.toString()).remove();
            }
        });
    }

    function show_a_resource(idresource) {
        $.ajax({
            type: 'GET',
            url: "/resource/get/"+idresource,
            success: function (html) {
                $("#mainframe").empty();
                $("#mainframe").append(html);
            }
        });
    }
</script>
