<!-- Esta vista requiere results: results, tags: tags, idteacher: validate(req), show_hidden: false
results: lista de objetos resource
tags es una lista de objetos tags formato [{idresource:tags},...]
idteacher id profesor logeado, o false.
show_hidden: permite mostrar recursos bloqueados.

-->
<%
function formatDate(date) {
  var date = date.slice(0, date.indexOf('T')).replace("-","/").replace("-","/").split("/");

  var day = date[2];
  var month = date[1];
  var year = date[0];

  return day + '/' + month + '/' + year;
}
 %>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <section>
            <div class="row">
                <div style="margin: 1.6%">
                    <div class="col-sm-12" style="border-bottom: 2px #878787 solid; padding: 0; padding-bottom: 3px; margin-bottom: 5px">
                        <h4 style="color: #878787; display: inline-block; margin: 0; padding-top: 10px">Estas en el recurso/</h4><h4 style="color: #878787; display: inline-block; margin: 0; padding-top: 10px; font-weight: 600"><%=title%></h4>
                        <div class="pull-right" style="display: inline-block;margin: 3px;">
                            <a class="btn_obs" href="/">
                                <img src="/icons/RRCC web_flechavolver.png" class="img-rounded" style="width: 25px; height: 25px"> Volver a Inicio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br><br>
        <!-- Corresponde a un recurso -->
        <section class="blog-post">
            <div class="panel panel-default" style="padding: 10px">
                <div class="row">
                    <div class="col-sm-1" style="margin-right: 15px">
                        <img src="/icons/RRCC web-07.png" class="img-rounded" style="width: 60px">
                    </div>
                    <div class="col-sm-10" style="margin: 0; padding: 0">
                        <h1 class="blog-post-title" style="margin: 0; margin-top: 10px">
                            <%=title%>
                            <p class="bs-component btn-group-sm pull-right">
                                <%if(idteacher == logged){%>
                                    <a onclick="edit_modal(<%=idresource%>)" class="btn btn-warning btn-fab"><i class="material-icons">edit</i></a>
                                    <%if(state != 'Activo'){%>
                                        <a onclick="activate(<%=idresource%>)" class="btn btn-success btn-fab"><i class="material-icons">lock_open</i></a>
                                    <%} else {%>
                                        <a onclick="deactivate(<%=idresource%>)" class="btn btn-danger btn-fab"><i class="material-icons">lock</i></a>
                                    <%}
                                } %>
                            </p>
                            <div class="pull-right" style="padding-right: 0; padding-left: 3px; padding-top: 5px">
                                <% for(let i = 1; i <= 5 ; i++){
                                    if (scores[idresource] >= i){ %>
                                    <input id="score" type="image" onclick="score('<%=i%>','<%=idresource%>','<%=idteacher%>')"
                                       src="/icons/RRCC web-24.png" class="img-rounded" style="width: 20px; display: inline;">
                                    <%} else {%>
                                    <input id="score" type="image" onclick="score('<%=i%>','<%=idresource%>','<%=idteacher%>')"
                                       src="/icons/RRCC web-25.png" class="img-rounded" style="width: 20px; display: inline;">
                                    <%}
                                }%>
                            </div>
                        </h1>
                        <div class="blog-post-meta" style="padding: 0;">
                            <h4>por <a href="/teacher/teacher_profile/<%=idteacher%>"><%=username%></a> - <%=formatDate(date)%></h4>

                        </div>

                        <div class="row">
                            <!-- DESCRIPCION -->
                            <h4><%=description%></h4>
                            <!-- IMAGEN -->
                            <div style="padding: 2%; float:right;">
                                <%if(frontimage){%>
                                    <img src="/uploaded-files/<%=idteacher%>/<%=idresource%>/<%=frontimage%>" class="img-responsive" style="border: 2px solid black; width: 350px; float: right">
                                <%}%>
                            </div>
                            <h5><%=text%></h5>
                        </div>

                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-1" style="display: inline;"><img src="/icons/RRCC web-21.png" style="width: 40px"></div>
                            <div id="tagtype<%=idresource%>" class="col-sm-2" style="margin-top: 3px; padding: 0px"></div>
                            <div class="col-sm-1" style="display: inline;"><img src="/icons/RRCC web-22.png" style="width: 40px"></div>
                            <div id="tagarea<%=idresource%>" class="col-sm-2" style="margin-top: 3px; padding: 0px"></div>
                            <div class="col-sm-1" style="display: inline;"><img src="/icons/RRCC web-23.png" style="width: 40px"></div>
                            <div id="tagfile<%=idresource%>" class="col-sm-1" style="margin-top: 3px; padding: 0px"></div>
                        </div>
                        <script>
                            <%if(tags.length > 0){
                                tags[idresource].forEach(function (tag) {
                                    if (tag[1] == 'type'){%>
                                        $('#tagtype<%=idresource%>').append('<%=tag[0]%>.<br>');
                                    <%}
                                    if (tag[1] == 'area'){%>
                                        $('#tagarea<%=idresource%>').append('<%=tag[0]%>.<br>');
                                    <%}
                                    if (tag[1] == 'file'){%>
                                        $('#tagfile<%=idresource%>').append('<%=tag[0]%>.<br>');
                                    <%}
                                });
                            }%>

                        </script>

                        <!-- Aca comienza contenido descargas -->
                        <div class="row" style="border-bottom: 2px orange solid; padding-bottom: 3px; margin-bottom: 5px">
                            <img src="/icons/RRCC web-23.png" style="width: 50px; margin: 0px; float: left">
                            <h3 style="margin: 0px">Archivos Adjuntos</h3>
                            <h4>Archivos que se asocian a este recurso.</h4>
                        </div>
                        <div class="row resource-row" style="margin-top: 10px">
                            <%
                            if(files.length > 0){
                                for(file in files){%>
                                    <div class="col-sm-3" style="margin-bottom: 5px; text-align: center;">
                                        <p class="text-center">
                                            <a class="btn" href="resource/download/<%=idteacher%>/<%=idresource%>/<%=files[file].filename%>" style="white-space: normal" >
                                                <img src="/icons/RRCC web_<%=files[file].ext%>.png" onerror="this.src='/icons/RRCC web_jpg.png'" style="width: 100px">
                                                <h4 style=""><%=files[file].filename%></h4>
                                            </a>
                                        </p>
                                    </div>
                            <%}
                            } else {%>
                                <br>
                                <h3 style="text-align: center;">Este recurso no tiene archivos.</h3>
                                <br>
                            <%}%>
                        </div>

                        <!-- Aca comienza contenido revisiones -->
                        <div class="row" style="border-bottom: 2px deeppink solid; padding-bottom: 3px; margin-bottom: 8px">
                            <img src="/icons/RRCC web-22.png" style="width: 50px; margin: 0px; float: left">
                            <h3 style="margin: 0px">Revisiones</h3>
                            <h4>Recursos compartidos por otros usuarios/as, que se relacionan con este. </h4>
                        </div>
                        <div class="row resource-row" >
                            <%
                            if(reviews.length > 0){
                                for(review in reviews){%>
                                    <a onclick="show_a_resource(<%=reviews[review].idresource%>)" style="cursor: pointer">
                                        <h3 style="display: inline"><img src="/icons/RRCC web-07.png" style="width: 35px"><%=reviews[review].title%> por <%=reviews[review].name%>
                                            <h4 style="display: inline"><%=reviews[review].date.slice(0, date.indexOf('T'))%></h4>
                                        </h3>
                                    </a>
                            <%}
                            } else {%>
                                <br>
                                <h3 style="text-align: center;">Este recurso no tiene Revisiones.</h3>
                                <br>
                            <%}%>
                            <a onclick="new_review(<%=idresource%>)" class="btn">
                                <h4 style="margin: 0">
                                    <i class="material-icons">assignment</i>Contribuye con una revisión
                                </h4>
                            </a>
                        </div>

                    </div>
                </div>

                <!-- Aca van las descargas-->
            </div>
            <%if (idteacher == logged) {
                var modal_data = {
                    idresource: idresource,
                    idteacher: idteacher,
                    title: title,
                    description: description,
                    tags: tags[idresource]
                };
            %>
            <%- include('./modal/edit_resource.ejs', modal_data); %>
            <%}%>
        </section>
        <div id="view_comment">
            <!-- Aca va insertar comentario y los comentarios existentes del recurso. -->
        </div>
    </div>
</div>

<%- include modal/edit_resource.ejs %>

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            type: 'POST',
            data: {idresource: <%=idresource%>, idteacher: <%=idteacher%>},
            url: '/comment/view_comment/',
            success: function (html) {
                $('#view_comment').append(html);
            }
        });
    });

    function edit_modal(idresource) {
        $('#modal_edit_resource').modal('toggle');
    }

    function new_review(idresource) {
        $('#modal_new_resource').modal('toggle');
        $('#idresourcedad').attr('value', idresource);
    }

    function score(score, idresource, idteacher) {
        $.ajax({
            type: 'POST',
            url: '/resource/score',
            data: {
                score: score,
                idresource: idresource,
                idteacher: idteacher
            },
            success: function (html) {
                alert('Scored!')
            }
        });
    }
</script>