<div class="row">
    <div class="col-xs-12 col-sm-12">
        <!-- Corresponde a una contribución -->
        <section class="blog-post">
            <div class="panel panel-default">
                <img src="img/music/unsplash-2.jpg" class="img-responsive"/>
                <div class="panel-body">
                    <!-- Acá van los tags, ojalá sean clickeables para redireccionar a "buscar por tag" -->
                    <div class="blog-post-meta">
                        <span class="label label-light label-warning">Live</span>
                        <p class="blog-post-date pull-right">February 16, 2016</p>
                    </div>
                    <!-- Acá va el contenido de la contribución (sólo vista previa) -->
                    <div class="blog-post-content">
                        <h2 class="blog-post-title"><%=title%></h2>
                        <button class="btn btn-primary" onclick="edit_resource(<%=idresource%>)" style="float: right" >Test</button>
                        <p><%=description%></p>
                        <p><%=text%></p>
                    </div>

                </div>

                <!-- Aca van pequeñas vistas previas de los recursos que nacieron de este recurso. reviews-->
                <div class="row resource-row">
                    <div class="col-xs-6 col sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading resource-head">
                                <h5>Soy una revision</h5>
                            </div>
                            <div class="panel-body">
                                <div class="blog-post-content">
                                    Este recurso esta bueno, lo complementare. tengo un poco de mi cosecha que servira aca
                                </div>
                            </div>
                            <div class="panel-footer">
                                Probando un footer
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading resource-head">
                                <h5>Soy una revision</h5>
                            </div>
                            <div class="panel-body">
                                <div class="blog-post-content">
                                    Este recurso esta bueno, lo complementare. tengo un poco de mi cosecha que servira aca
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="blog-post-share pull-right" href="#">
                        <i class="material-icons">&#xE80D;</i>
                    </a>
                </div>
            </div>
        </section>
        <div id="view_comment">
            <!-- Aca va insertar comentario y los comentarios existentes del recurso. -->
        </div>
    </div>
</div>

<%- include modal/edit_resource.ejs %>

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            type: 'GET',
            url: '/comment/view_comment/'+<%=idresource%>,
            success: function (html) {
                $('#view_comment').append(html);
            }
        });
    });

    function edit_resource(idresource) {
        $('#modal_edit_resource').modal('toggle');
    }
</script>