<!-- Informaci칩n general del material   -->
<% var tipo;
    switch (material.tipo){
        case 0:
            tipo = "Archivo";
            break;
        case 1:
            tipo = "Imagen";
            break;
        case 2:
            tipo = "Video";
            break;
        case 3:
            tipo = "Link";
            break;
        default:
    }
 %>
<section class="blog-post">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="blog-post-meta">
                <span class="label label-light label-warning"><%= tipo%></span>
                <p class="blog-post-date pull-right"><%= new Date(material.f_upload).toLocaleDateString()%></p>
            </div>
            <div class="blog-post-content">
                <h2 class="blog-post-title"><%= material.titulo%></h2>
                <p><%= material.descripcion%></p>
            </div>
        </div>
        <% if(material.tipo == 0){%>
        <iframe src="https://docs.google.com/viewerng/viewer?url=http://app.observaciudadania.org<%= material.contenido%>&embedded=true" style="width: 100%;height: 400px"></iframe>
        <%} else if(material.tipo == 1){%>
        <img src="<%= material.contenido%>" class="img-responsive" alt="Imagen del Recurso">
        <%} else if(material.tipo == 2){%>
        <%}%>
    </div>
</section>
<!-- Secci칩n para ver y realizar rese침as del material -->
<section class="blog-comments" id="reviews">

</section>

<script type="text/javascript">
    // Cargar rese침as del material mostrado
    $.ajax({
        type: 'GET',
        url:"/review/mostrar/<%= material.idmaterial%>",
        success: function (html) {
            $("#reviews").html(html);
        }
    });
</script>